body{

	font-family: Work Sans, serif;
	/*font-weight: 200;
	font-size: 50px;*/
	height: 100%;
}

html{
	height: 100%;
}

nav{
	background-color: transparent;
}

.lista{
	font-weight: 300;
	font-size: 1.5rem;
}

.imagen{
	background-image: url('../images/como-funciona.jpe');
	height: 100%;
	margin-right: 5rem;

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 35%;
}

.interlineado{
	line-height: 10rem;
}

.ml-5{
	margin-left: 2% !important;
}

.mt-5{
	margin-top: 6% !important;
}

.mt-6{
	margin-top: 4% !important;
}

.mt-20{
	margin-top: 29%;
}

.navbar{
	/*padding-top: 0.7%;
	padding-bottom: 0.8%;
	padding-left:8.8%;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	background-color: white;
	background: transparent !important;*/
	padding-top: 6.5%;
	padding-bottom: 0.8%;
	margin-left: -155.5%;
	/*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/
}

.navbar a{
	color: black;
	/*background-color: white;*/
	/*background: transparent !important;*/
}

.navbar-brand{
	font-size: 1.3rem;
	letter-spacing: 3px;
	color: black;
	font-weight: 300;
}

.navbar-nav{
	padding-right: 22px;
}

.navbar-nav  .nav-item{
	font-size: 17px;
    padding-left: 20px;
    padding-right: 0px;
    font-weight: 300;
    color: black;
    opacity: 1 !important;
}

.navbar-nav  .nav-item .nav-link{
	font-size: 17px;
    padding-left: 20px;
    padding-right: 0px;
    font-weight: 300;
    color: black;
    opacity: 1 !important;
}

.pb-5{
	padding-bottom: 5%
}
.pg-2{
	padding: 2%;
}
.pg-4{
	padding: 4%;
}

.pt-1{
	padding-top: 1%;
}
.pt-4{
	padding: 4% !important;
}
.pt-5{
	padding-top: 8% !important;
}

.pt-16{
	padding-top: 16%;
}